{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">

          <div class="row">
            <div class="col">
              <p class="channelLeftIncrement">
                <a href="/increment/10">+</a>
              </p>
            </div>
            <div class="col">
              <p class="channelLeftIncrement">
                <a href="/increment/18">+</a>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <p class="channelLeft" id="channel10"></p>
            </div>
            <div class="col">
              <p class="channelRight" id="channel18"></p>
            </div>
          </div>
        
          <div class="row">
            <div class="col">
              <p class="channelLeftDecrement">
                <a href="/decrement/10">-</a>
              </p>
            </div>
            <div class="col">
              <p class="channelRightDecrement">
                <a href="/decrement/18">-</a>
              </p>
            </div>
          </div>
          
</div>
{% endblock %}